@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui" {
  themes: apex-light --default, business;
}

@layer base {
  :root, [data-theme="apex-light"] {
    --color-base-100: #ffffff;
    --color-base-200: #f4f4f5;
    --color-base-300: #e4e4e7;
    --color-base-content: #09090b;
    --color-primary: #18181b;
    --color-primary-content: #ffffff;
    --color-secondary: #52525b;
    --color-neutral: #18181b;
  }

  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type="number"] {
    -moz-appearance: textfield;
    appearance: textfield;
  }
}

@utility scrollbar-none {
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

.iti {
  width: 100%;
}